@'
venv/
__pycache__/
*.pyc

data/
results/
runs/
logs/
.cache/
.hf_cache/

models/
resnet50/
xlm_roberta/
layoutlmv3/

*.zip
*.tar.gz
*.7z
*.rar

*.pt
*.pth
*.bin
*.safetensors
*.ckpt
*.pkl
*.joblib

.env
.DS_Store
'@ | Set-Content .gitignorey